body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}


.main_butt{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  margin: 4px 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size:25px;
  margin-top:40px;
}
.opt1{

 background-color: white;
  color: black;
  border: 4px solid #008CBA;

}

.opt1:hover {
  background-color: #0057ba;
  color: white;
}

.opt2{

 background-color: white;
  color: black;
  border: 4px solid #008CBA;
}

.opt2:hover {
  background-color: #0057ba;
  color: white;
}

.opt3{

 background-color: white;
  color: black;
  border: 4px solid #008CBA;
}

.opt3:hover {
  background-color: #0057ba;
  color: white;
}

.opt4{

 background-color: white;
  color: black;
  border: 4px solid #008CBA;
}

.opt4:hover {
  background-color: #0057ba;
  color: white;
}

#veredict{
    color:green;
    top:350px;
    position:absolute;
    font-size:20px;
    font-weight: bold
}

.hide{
  display: none;
}

.reveal{
  display: block;
}

#veredict_2{
    color:red;
    top:350px;
    position:absolute;
    font-size:20px;
    font-weight: bold

}

#veredict_3{
    color:red;
    top:625px;
    position:absolute;
    font-size:20px;
    font-weight: bold
}

.question{
    margin:30px 35px;

}

#veredict_4{
    color:green;
    top:625px;
    position:absolute;
    font-size:20px;
    font-weight: bold;
}

#value{
    font-size:30px;
}


